# hidden files
.*
!/chirpstack/.rpm
!/.cargo
!/.env
!.npmignore

# Log files
*.log

# Binary packages
/dist

# SQLite databases
*.sqlite

# Rust target directory
**/target
**/target-sqlite

# Certificates
/chirpstack/configuration/certs/*
/chirpstack/configuration/private_*.toml

# UI
/ui/node_modules
/ui/build

# Exclude from gitignore
!/.github
