# hidden files
.*
!/chirpstack/.rpm
!/.cargo
!/.env

# Log files
*.log

# Binary packages
/dist

# Rust target directory
**/target

# Certificates
/chirpstack/configuration/certs/*
/chirpstack/configuration/private_*.toml

# UI
/ui/node_modules
/ui/build

# API
/api/grpc-web/node_modules
/api/java/build
/api/java/src
/api/js/node_modules
/api/kotlin/build
/api/kotlin/src
/api/python/src/*.egg-info/
/api/python/src/build/
/api/python/src/dist/

# Bitbake recipes
*.bb

# Exclude from gitignore
!/.github
