[package]
name = "chirpstack_api"
description = "ChirpStack Protobuf / gRPC API definitions."
version = "4.0.0-rc.2"
authors = ["Orne Brocaar <info@brocaar.com>"]
license = "MIT"
homepage = "https://www.chirpstack.io"
repository = "https://github.com/chirpstack/chirpstack"
edition = "2021"

[features]
default = ["api"]
api = ["tonic/transport", "tonic-build/transport", "tokio"]
internal = []

[dependencies]
prost = "0.10"
prost-types = "0.10"
pbjson = "0.3"
pbjson-types = "0.3"
hex = "0.4"
rand = "0.8"

tonic = { version = "0.7", features = ["codegen", "prost"], default-features = false }
tokio = { version = "1.17", features = ["macros"], optional = true }
serde = { version = "1.0" }

[build-dependencies]
tonic-build = { version = "0.7", features = ["prost"], default-features = false }
pbjson-build = "0.3"
