[package]
name = "chirpstack"
description = "ChirpStack is an open-source LoRaWAN(TM) Network Server"
repository = "https://github.com/chirpstack/chirpstack"
homepage="https://www.chirpstack.io/"
version = "4.3.0-test.3"
authors = ["Orne Brocaar <info@brocaar.com>"]
edition = "2021"
publish = false
license = "MIT"

[dependencies]
# CLI interface
clap = { version = "4.1", features = ["derive"] }

# Configuration
serde = { version = "1.0", features = ["derive", "rc"] }
serde_yaml = "0.9"
serde_json = "1.0"
humantime-serde = "1.1"
toml = "0.7"
handlebars = "4.3"

# Database
validator = "0.16"
diesel = { version = "2.0", features = [ "chrono", "postgres", "r2d2", "uuid", "serde_json", "numeric" ] }
diesel_migrations = { version = "2.0" }
r2d2 = "0.8"
bigdecimal = "0.3"
redis = { version = "0.22", features = ["r2d2", "cluster"] }
pq-sys = { version = "0.4.7", features = ["pkg-config"] }

# Logging
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["fmt", "ansi"], default-features = true }

# ChirpStack API definitions
chirpstack_api = { path = "../api/rust", features = ["default", "internal"] }
lrwn = { path = "../lrwn" }
backend = { path = "../backend" }

# HTTP
reqwest = { version = "0.11", features = ["json"] }

# Integrations
aws-types = "0.49"
aws-config = "0.49"
aws-sdk-sns = "0.19"
hmac = "0.12"
sha2 = "0.10"
urlencoding = "2.1"
geohash = "0.13"
gcp_auth = "0.7"
lapin = "2.1"
tokio-executor-trait = "2.1"
tokio-reactor-trait = "1.1"
rdkafka = { version = "0.29", features = ["cmake-build"]}

# gRPC and Protobuf
tonic = "0.8"
tonic-web = "0.5"
tonic-reflection = "0.6"
tokio = { version = "1.25", features = ["macros", "rt-multi-thread"] }
tokio-stream = "0.1"
prost-types = "0.11"
prost = "0.11"
pbjson-types = "0.5"

# gRPC and HTTP multiplexing
warp = { version = "0.3", features = ["tls"] }
hyper = "0.14"
tower = "0.4"
futures = "0.3"
http = "0.2"
http-body = "0.4"
rust-embed = "6.4"
mime_guess = "2.0"
tower-http = { version = "0.4", features = ["trace", "auth"] }

# Error handling
thiserror = "1.0"
anyhow = "1.0"

# Authentication
pbkdf2 = "0.11"
rand_core = { version = "0.6", features = ["std"] }
jsonwebtoken = "8.2"
openssl = { version = "0.10", features = ["vendored"] }
openidconnect = { version = "2.5", features = ["accept-rfc3339-timestamps"] }

# MQTT
paho-mqtt = { version = "0.12", features = ["vendored-ssl"] }
hex = "0.4"

# Codecs
rquickjs = { version = "0.1", features = ["bindgen", "loader", "array-buffer", "chrono"] }

# Misc
lazy_static = "1.4"
uuid = { version =  "1.3", features = [ "v4", "serde" ] }
chrono = "0.4"
async-trait = "0.1"
aes = "0.8"
rand = "0.8"
base64 = "0.21"
async-recursion = "1.0"
regex = "1.7"
petgraph = "0.6"
prometheus-client = "0.19"
pin-project = "1.0"

# Development and testing
[dev-dependencies]
httpmock = "0.6"
bytes = "1.4"

# Debian packaging.
[package.metadata.deb]
assets = [
	["target/release/chirpstack", "usr/bin/", "755"],
	["configuration/*.toml", "etc/chirpstack/", "640"],
]
conf-files = [
	"/etc/chirpstack/chirpstack.toml",
	"/etc/chirpstack/region_as923.toml",
	"/etc/chirpstack/region_as923_2.toml",
	"/etc/chirpstack/region_as923_3.toml",
	"/etc/chirpstack/region_as923_4.toml",
	"/etc/chirpstack/region_au915_0.toml",
	"/etc/chirpstack/region_au915_1.toml",
	"/etc/chirpstack/region_au915_2.toml",
	"/etc/chirpstack/region_au915_3.toml",
	"/etc/chirpstack/region_au915_4.toml",
	"/etc/chirpstack/region_au915_5.toml",
	"/etc/chirpstack/region_au915_6.toml",
	"/etc/chirpstack/region_au915_7.toml",
	"/etc/chirpstack/region_cn779.toml",
	"/etc/chirpstack/region_eu433.toml",
	"/etc/chirpstack/region_eu868.toml",
	"/etc/chirpstack/region_in865.toml",
	"/etc/chirpstack/region_ism2400.toml",
	"/etc/chirpstack/region_kr920.toml",
	"/etc/chirpstack/region_ru864.toml",
	"/etc/chirpstack/region_us915_0.toml",
	"/etc/chirpstack/region_us915_1.toml",
	"/etc/chirpstack/region_us915_2.toml",
	"/etc/chirpstack/region_us915_3.toml",
	"/etc/chirpstack/region_us915_4.toml",
	"/etc/chirpstack/region_us915_5.toml",
	"/etc/chirpstack/region_us915_6.toml",
	"/etc/chirpstack/region_us915_7.toml",
]
suggests = "postgresql, mosquitto, redis"
maintainer-scripts = "debian/"
systemd-units = { enable = true }

[package.metadata.rpm]
package = "chirpstack"

[package.metadata.rpm.files]
"configuration/" = { path = "/etc/chirpstack/" }
"chirpstack.service" = { path = "/lib/systemd/system/chirpstack.service" }

[package.metadata.rpm.cargo]
buildflags = ["--release"]

[package.metadata.rpm.targets]
chirpstack = { path = "/usr/bin/chirpstack" }
